.search-container {
  display: flex;
  justify-content: center;
  width: 100%;
  /* Reduce 70px of header and 100px of footer 
  ** Make footer display at bottom even if less content on main page
  ** eg: when api doesn't return products
  */
  min-height: calc(100vh - 170px);
  margin-top: 70px;
  padding: 1.5em 0em;
}
.sort-buttons-div {
    margin-top: 2%;
    
}
.sort-button-single {
  margin-right: 2%;
}
/* Set width for the search bar */
span.ant-input-search {
  width: 30%;
}
